.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 53px 56px 54px;
    }
    &__address {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 36px;
        text-align: center;
    }
    &__phone {
        display: block;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 36px;
        text-align: center;
        &:hover {
            color: #fff;
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #FFFFFF;
        border-radius: 100%;
        img {
            height: 24px;
        }
    }
    &__social {
        margin: 0 auto;
        width: 210px;
        display: flex;
        justify-content: space-between;
    }
}